<style>
    .save{
        text-align: center;
        cursor: pointer;
        margin-left: 50px;
        width: 50%;
    }

    .close{
        float: right;
        margin-left: 15px;
        cursor: pointer;
    }

    .title{
        float: left;
        margin-right: 5px;
    }
</style>
<form>
    <h3 class= "title">Registro de usuario</h3>
    <h3 class = "close" (click)="cerrar()">X</h3>
    <div class = "input">
        <label>Nombre</label>
        <br>
        <input class = "txt" type = "text" name = "Nombre">
    </div>
    <br>
    <div class = "input">
        <label>Segundo nombre</label>
        <br>
        <input class = "txt2" type = "password" name = "SNombre">
    </div>
    <br>
    <div class = "input">
        <label>Apellido</label>
        <br>
        <input class = "txt2" type = "password" name = "Apellido">
    </div>
    <br>
    <div class = "input">
        <label>Correo</label>
        <br>
        <input class = "txt2" type = "password" name = "Correo">
    </div>
    <br>
    <div class = "input">
        <label>Contraseña</label>
        <br>
        <input class = "txt2" type = "password" name = "Contra">
    </div>
    <br>
    <button class = "save">Guardar</button>
</form>
