<style>
    .save{
        text-align: center;
        cursor: pointer;
        margin-left: 70px;
        width: 50%;
    }

    .txt2{

        margin-left: 60px;
    }
    .close{
        float: right;
        margin-left: 15px;
        cursor: pointer;
    }

    .title{
        float: left;
        margin-left: 95px;
    }

    .input{
        text-align: center;
    }
</style>
<form action="/path/upload/1" id="post" method="post" enctype="multipart/form-data">
    <h3 class= "title">Subir archivos</h3>
    <h3 class = "close">X</h3>
    <div class = "input">
        <input type="file" name="images" multiple (change)="selectMultipleImage($event)" />
    </div>
    <br>
    <button type="submit" (click)="onMultipleSubmit()">Multiple Upload</button>
</form>
