<style>
    .save{
        text-align: center;
        cursor: pointer;
        margin-left: 70px;
        width: 50%;
    }

    .txt2{

        margin-left: 60px;
    }
    .close{
        float: right;
        margin-left: 15px;
        cursor: pointer;
    }

    .title{
        float: left;
        margin-left: 95px;
    }

    .input{
        text-align: center;
    }
</style>
<form>
    <h3 class= "title">Subir archivos</h3>
    <h3 class = "close" (click)="cerrar()">X</h3>
    <div class = "input">
        <input class = "txt2" type = "file" name = "archivos">
    </div>
    <br>
    <input type="submit" value ="subir" class = "save">
</form>
