<style>
    mat-sidenav-container{
        height: 100%;
    }

    mat-sidenav, mat-sidenav-content{
        padding: 15px;
    }

    mat-sidenav{
        background-color:#1976d2;
        width: 200px;
    }

    li{
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: medium;
        font-style: oblique;
        color: white;
        cursor: pointer;
    }
</style>

<mat-sidenav-container>
    <mat-sidenav mode = "side" [(opened)] = "opened">
        <li>Búsqueda</li>
        <li>Subir archivo</li>
        <li>Opciones de usuario</li>
        <li>Cerrar sesión</li>
    </mat-sidenav>
    <mat-sidenav-content><button class="navbutt" (click) = "opened=!opened"> Toggle Opened</button></mat-sidenav-content>
</mat-sidenav-container>
