

<app-sidenav></app-sidenav>


<div class="toolbar" role="banner">

<h2 class = "derecha">Usuario</h2>
</div>


<div class="content" >
  <div fxLayout="row wrap" fxLayoutGap="1.75em grid">
    <div fxFlex="10%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" *ngFor="let image of imageList">
      <div class="cardimage" id="">
        <div class="card-header-image">
          <img src="http://localhost:3000/uploads/{{image.filePath}}"/>
          
        </div>

        <div class="card-content">
          {{image.name}}
        </div>
      </div>
     
    </div>
 
  </div>  
 
</div>


