<style>
    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    h1, h2, h3, h4, h5, h6 {
      margin: 8px 0;
    }
  
    p {
      margin: 0;
    }

    .derecha{
      margin-left: 93%;
    }
  
    .toolbar {
      position: absolute;
      top: 700px;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: #1976d2;
      color: white;
      font-weight: 600;
    }
  
    .content {
      display: flex;
      margin: 60px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;
    }
  
    .card {
      all: unset;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #fafafa;
      height: 130px;
      width: 500px;
      margin: 0 8px 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }

    .CC{
      cursor: pointer;
    }
  
  
    footer {
      margin-top: 35px;
      display: flex;
      align-items: center;
      line-height: 20px;
    }
  
    /* Responsive Styles */
    @media screen and (max-width: 768px) {
    
      :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      }
  
      h1, h2, h3, h4, h5, h6 {
        margin: 8px 0;
      }
  
      p {
        margin: 0;
      }

     .derecha{
        margin-left: 87%;
     }
  
      .toolbar {
        position: absolute;
        top: 700px;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #1976d2;
        color: white;
        font-weight: 600;
      }
  
      .content {
        display: flex;
        margin: 60px auto 32px;
        padding: 0 16px;
        max-width: 960px;
        flex-direction: column;
        align-items: center;
      }
  
      .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 16px;
      }
  
      .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        height: 130px;
        width: 500px;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
      }

      .CC{
        cursor: pointer;
      }
  
  
      footer {
        margin-top: 35px;
        display: flex;
        align-items: center;
        line-height: 20px;
      }
    }
  
    @media screen and (max-width: 425px) {
      
      :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    h1, h2, h3, h4, h5, h6 {
      margin: 8px 0;
    }
  
    p {
      margin: 0;
    }

    .derecha{
      margin-left: 79%;
    }
  
    .toolbar {
      position: absolute;
      top: 700px;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: #1976d2;
      color: white;
      font-weight: 600;
    }
  
    .content {
      display: flex;
      margin: 60px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
    }
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 16px;
    }
  
    .card {
      all: unset;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #fafafa;
      height: 130px;
      width: 500px;
      margin: 0 8px 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }

    .CC{
      cursor: pointer;
    }
  
  
    footer {
      margin-top: 35px;
      display: flex;
      align-items: center;
      line-height: 20px;
    }
    }
</style>

<div class="toolbar" role="banner">
<h2 class = "derecha">Usuario</h2>
</div>
<div class="content" role="main">
</div>
<app-sidenav></app-sidenav>
