<style>
    .sub1{
        float: left;
        text-align: center;
        cursor: pointer;
        margin-left: 20px;
        
    }

    .sub2{
        float: right;
        text-align: center;
        cursor: pointer;
        margin-right: 20px;
       
    }
    .txt2{

        margin-left: 40px;
    }
    .close{
        float: right;
        margin-left: 15px;
        cursor: pointer;
    }

    .title{
        float: left;
        margin-left: 30px;
    }

    .input{
        text-align: center;
    }
</style>
<form>
    <h3 class= "title">Eliminar Usuario</h3>
    <h3 class = "close">X</h3>
    <div class = "input">
        <p>¿Eliminar al usuario -usuario-? </p>
    </div>
    <input type="submit" value ="Eliminar" class = "sub1">
    <input type="submit" value ="Cancelar" class = "sub2">
</form>